
.drawer-container {
  width: 30vw;
  height: 93vh;
  padding-top: 3vh;
  background-color: brown;
  box-sizing: border-box;
}

.drawer-item {
  padding-top: 12vh;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 27vw;
  height: 27vh;
  background-color: burlywood;
  box-sizing: border-box;
}

.drawer-handle {
  background-color: black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  margin: auto;
  box-sizing: border-box;
}